flows/Contact_Role_Mirroring.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AdminToCollection</name>
        <label>AdminToCollection</label>
        <locationX>757</locationX>
        <locationY>144</locationY>
        <assignmentItems>
            <assignToReference>scOpportunityContactsForRole</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sNewContactRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DoesPaxContactExist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NamToCollection</name>
        <label>NamToCollection</label>
        <locationX>751</locationX>
        <locationY>41</locationY>
        <assignmentItems>
            <assignToReference>scOpportunityContactsForRole</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sNewContactRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DoesAdminContactExist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NewContactRoleAdmin</name>
        <label>NewContactRoleAdmin</label>
        <locationX>601</locationX>
        <locationY>144</locationY>
        <assignmentItems>
            <assignToReference>sNewContactRole.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sNewContactRole.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunity.Admin_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sNewContactRole.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sNewContactRole.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Admin</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AdminToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NewContactRoleNam</name>
        <label>NewContactRoleNam</label>
        <locationX>595</locationX>
        <locationY>41</locationY>
        <assignmentItems>
            <assignToReference>sNewContactRole.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sNewContactRole.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunity.NAM_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sNewContactRole.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sNewContactRole.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NAM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NamToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NewContactRolePax</name>
        <label>NewContactRolePax</label>
        <locationX>608</locationX>
        <locationY>236</locationY>
        <assignmentItems>
            <assignToReference>sNewContactRole.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sNewContactRole.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunity.Contact_PAX__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sNewContactRole.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sNewContactRole.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PAX</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PaxToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PaxToCollection</name>
        <label>PaxToCollection</label>
        <locationX>764</locationX>
        <locationY>236</locationY>
        <assignmentItems>
            <assignToReference>scOpportunityContactsForRole</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sNewContactRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FindContactRoles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ScheduleToCreate</name>
        <label>ScheduleToCreate</label>
        <locationX>580</locationX>
        <locationY>706</locationY>
        <assignmentItems>
            <assignToReference>scOpportunityContactRolesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sNewContactRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForeachContactForRole</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ScheduleToDelete</name>
        <label>ScheduleToDelete</label>
        <locationX>1239</locationX>
        <locationY>714</locationY>
        <assignmentItems>
            <assignToReference>scOpportunityContactRolesToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOpportunityContactRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForeachContactRole_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>vContactRoleMatch_reset</name>
        <label>vContactRoleMatch reset</label>
        <locationX>389</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>vContactRoleMatch</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForeachContactRole</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>vContactRoleMatch_reset_1</name>
        <label>vContactRoleMatch reset</label>
        <locationX>1031</locationX>
        <locationY>707</locationY>
        <assignmentItems>
            <assignToReference>vContactRoleMatch</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForeachContactForRole_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>vContactRoleMatch_TRUE</name>
        <label>vContactRoleMatch TRUE</label>
        <locationX>146</locationX>
        <locationY>993</locationY>
        <assignmentItems>
            <assignToReference>vContactRoleMatch</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForeachContactRole</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>vContactRoleMatch_TRUE_1</name>
        <label>vContactRoleMatch TRUE</label>
        <locationX>821</locationX>
        <locationY>923</locationY>
        <assignmentItems>
            <assignToReference>vContactRoleMatch</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForeachContactForRole_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DeleteRoles</name>
        <label>DeleteRoles?</label>
        <locationX>1232</locationX>
        <locationY>606</locationY>
        <defaultConnectorLabel>DeleteRolesNoExist</defaultConnectorLabel>
        <rules>
            <name>DeleteRolesExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scOpportunityContactRolesToDelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteContactRole</targetReference>
            </connector>
            <label>DeleteRolesExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesAdminContactExist</name>
        <label>DoesAdminContactExist</label>
        <locationX>373</locationX>
        <locationY>146</locationY>
        <defaultConnector>
            <targetReference>DoesPaxContactExist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AdminContactNoExist</defaultConnectorLabel>
        <rules>
            <name>AdminContactExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Admin_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewContactRoleAdmin</targetReference>
            </connector>
            <label>AdminContactExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesNamContactExist</name>
        <label>DoesNamContactExist</label>
        <locationX>367</locationX>
        <locationY>43</locationY>
        <defaultConnector>
            <targetReference>DoesAdminContactExist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NamContactNoExist</defaultConnectorLabel>
        <rules>
            <name>NamContactExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.NAM_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewContactRoleNam</targetReference>
            </connector>
            <label>NamContactExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesOppExist</name>
        <label>DoesOppExist</label>
        <locationX>188</locationX>
        <locationY>42</locationY>
        <defaultConnectorLabel>OppNoExist</defaultConnectorLabel>
        <rules>
            <name>OppExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DoesNamContactExist</targetReference>
            </connector>
            <label>OppExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoesPaxContactExist</name>
        <label>DoesPaxContactExist</label>
        <locationX>380</locationX>
        <locationY>238</locationY>
        <defaultConnector>
            <targetReference>FindContactRoles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PaxContactNoExist</defaultConnectorLabel>
        <rules>
            <name>PaxContactExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Contact_PAX__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewContactRolePax</targetReference>
            </connector>
            <label>PaxContactExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>MatchContactForRoleToContactRole</name>
        <label>MatchContactForRoleToContactRole</label>
        <locationX>146</locationX>
        <locationY>903</locationY>
        <defaultConnector>
            <targetReference>ForeachContactRole</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunityContactRole.ContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sNewContactRole.ContactId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOpportunityContactRole.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sNewContactRole.Role</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>vContactRoleMatch_TRUE</targetReference>
            </connector>
            <label>Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>MatchContactForRoleToContactRole_0</name>
        <label>MatchContactForRoleToContactRole</label>
        <locationX>819</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>ForeachContactForRole_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoMatch</defaultConnectorLabel>
        <rules>
            <name>Matches_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunityContactRole.ContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sNewContactRole.ContactId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOpportunityContactRole.Role</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sNewContactRole.Role</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>vContactRoleMatch_TRUE_1</targetReference>
            </connector>
            <label>Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>MatchFound</name>
        <label>MatchFound</label>
        <locationX>581</locationX>
        <locationY>902</locationY>
        <defaultConnector>
            <targetReference>ScheduleToCreate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO MATCH</defaultConnectorLabel>
        <rules>
            <name>ContactRole_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vContactRoleMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ForeachContactForRole</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>MatchFound_1</name>
        <label>MatchFound</label>
        <locationX>1241</locationX>
        <locationY>812</locationY>
        <defaultConnector>
            <targetReference>ScheduleToDelete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO MATCH</defaultConnectorLabel>
        <rules>
            <name>ContactRole_Match_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vContactRoleMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ForeachContactRole_0</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>NewRoles</name>
        <label>NewRoles?</label>
        <locationX>593</locationX>
        <locationY>605</locationY>
        <defaultConnector>
            <targetReference>scContactRoles_NULL_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NewRolesNoExist</defaultConnectorLabel>
        <rules>
            <name>NewRolesExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scOpportunityContactRolesToCreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateContactRoles</targetReference>
            </connector>
            <label>NewRolesExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>scContactRoles_NULL</name>
        <label>scContactRoles NULL</label>
        <locationX>386</locationX>
        <locationY>706</locationY>
        <defaultConnector>
            <targetReference>vContactRoleMatch_reset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT NULL</defaultConnectorLabel>
        <rules>
            <name>scContactRoles_NULL_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scOpportunityContactRoles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScheduleToCreate</targetReference>
            </connector>
            <label>NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>scContactRoles_NULL_1</name>
        <label>scContactRoles NULL</label>
        <locationX>827</locationX>
        <locationY>610</locationY>
        <defaultConnector>
            <targetReference>ForeachContactRole_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT NULL</defaultConnectorLabel>
        <rules>
            <name>scContactRoles_NULL_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scOpportunityContactRoles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>NULL</label>
        </rules>
    </decisions>
    <interviewLabel>Contact Role Mirroring {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Role Mirroring</label>
    <loops>
        <name>ForeachContactForRole</name>
        <label>ForeachContactForRole</label>
        <locationX>386</locationX>
        <locationY>608</locationY>
        <assignNextValueToReference>sNewContactRole</assignNextValueToReference>
        <collectionReference>scOpportunityContactsForRole</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>scContactRoles_NULL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>NewRoles</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ForeachContactForRole_0</name>
        <label>ForeachContactForRole</label>
        <locationX>1033</locationX>
        <locationY>806</locationY>
        <assignNextValueToReference>sNewContactRole</assignNextValueToReference>
        <collectionReference>scOpportunityContactsForRole</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MatchContactForRoleToContactRole_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>MatchFound_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ForeachContactRole</name>
        <label>ForeachContactRole</label>
        <locationX>389</locationX>
        <locationY>905</locationY>
        <assignNextValueToReference>sOpportunityContactRole</assignNextValueToReference>
        <collectionReference>scOpportunityContactRoles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MatchContactForRoleToContactRole</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>MatchFound</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ForeachContactRole_0</name>
        <label>ForeachContactRole</label>
        <locationX>1025</locationX>
        <locationY>613</locationY>
        <assignNextValueToReference>sOpportunityContactRole</assignNextValueToReference>
        <collectionReference>scOpportunityContactRoles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>vContactRoleMatch_reset_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DeleteRoles</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateContactRoles</name>
        <label>CreateContactRoles</label>
        <locationX>825</locationX>
        <locationY>517</locationY>
        <connector>
            <targetReference>scContactRoles_NULL_1</targetReference>
        </connector>
        <inputReference>scOpportunityContactRolesToCreate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DeleteContactRole</name>
        <label>DeleteContactRole</label>
        <locationX>1482</locationX>
        <locationY>599</locationY>
        <inputReference>scOpportunityContactRolesToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>FindContactRoles</name>
        <label>FindContactRoles</label>
        <locationX>387</locationX>
        <locationY>511</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ForeachContactForRole</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputReference>scOpportunityContactRoles</outputReference>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Role</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GrabOppContactsForRole</name>
        <label>GrabOppContactsForRole</label>
        <locationX>46</locationX>
        <locationY>41</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesOppExist</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>sOpportunity</outputReference>
        <queriedFields>NAM_Contact__c</queriedFields>
        <queriedFields>Admin_Contact__c</queriedFields>
        <queriedFields>Contact_PAX__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>GrabOppContactsForRole</startElementReference>
    <status>Active</status>
    <variables>
        <name>scOpportunityContactRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>scOpportunityContactRolesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>scOpportunityContactRolesToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>scOpportunityContactsForRole</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>sNewContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>sOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>sOpportunityContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>vContactRoleMatch</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
