flows/Opportunity_Product_Extension_Roll_up.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Aggregate_sOPE_Ad_Hoc_1</name>
        <label>Aggregate sOPE Ad Hoc 1</label>
        <locationX>3120</locationX>
        <locationY>765</locationY>
        <assignmentItems>
            <assignToReference>sOpportunityProductExtension.Total_doll_comm_fac_ad_hoc__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOpportunityRoleRecord.total_comm_doll_fac_OTE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProductExtension.Total_fac_hours_ad_hoc__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOpportunityRoleRecord.fac_hours_ad_hoc__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProductExtension.Total_perc_comm__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOpportunityRoleRecord.perc_comm__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sORR_Role_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aggregate_sOPE_totals</name>
        <label>Aggregate sOPE totals</label>
        <locationX>2538</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>sOpportunityProductExtension.Total_doll_rev_rec__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOpportunityRoleRecord.doll_rev_rec__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProductExtension.Total_perc_comm__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOpportunityRoleRecord.perc_comm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProductExtension.Total_fac_days__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOpportunityRoleRecord.fac_days__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sOPE_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CatchEnsiPerc</name>
        <label>CatchEnsiPerc</label>
        <locationX>3264</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>vDollCommEnsiPerc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunityRoleRecord.perc_comm__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Touch_sORR_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_sOPE</name>
        <label>Collect sOPE</label>
        <locationX>1520</locationX>
        <locationY>1131</locationY>
        <assignmentItems>
            <assignToReference>scOpportunityProductExtensionsUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOpportunityProductExtension</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_scOPE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_sORR_update</name>
        <label>Collect sORR update</label>
        <locationX>2890</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>scOpportunityRoleRecordsUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOrrTouch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_scORR_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_sOPE_totals_count</name>
        <label>Reset sOPE totals, +count</label>
        <locationX>1178</locationX>
        <locationY>1005</locationY>
        <assignmentItems>
            <assignToReference>sOpportunityProductExtension.Total_doll_comm_fac_perc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProductExtension.Total_doll_comm_mark_perc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProductExtension.Total_doll_comm_ENSI_perc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProductExtension.Total_doll_rev_rec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProductExtension.Total_perc_comm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProductExtension.Total_fac_days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOpportunityProductsSyncCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_scORR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_sOPE_totals_loop_1</name>
        <label>Reset sOPE totals loop 1</label>
        <locationX>1166</locationX>
        <locationY>771</locationY>
        <assignmentItems>
            <assignToReference>sOpportunityProductExtension.Total_doll_comm_fac_ad_hoc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProductExtension.Total_fac_hours_ad_hoc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProductExtension.Total_doll_comm_ensi_ad_hoc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOpportunityProductsSyncCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProductExtension.Total_perc_comm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_scORR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_sOpp_syncing</name>
        <label>Reset sOpp syncing</label>
        <locationX>790</locationX>
        <locationY>1300</locationY>
        <assignmentItems>
            <assignToReference>sOppUpdate.Opportunity_Role_Records_syncing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOppUpdate.Opportunity_Products_roll_up_sync__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOppUpdate.Products_sync_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>All done</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOppUpdate.Split_fees_and_invoices_sync_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Syncing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOppUpdate.Opportunity_Products_resync__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_sOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_sOppUpdate</name>
        <label>Reset sOppUpdate</label>
        <locationX>361</locationX>
        <locationY>1615</locationY>
        <assignmentItems>
            <assignToReference>sOppUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOppEmpty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_sOpp_Rollup_sync</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_sync_status</name>
        <label>Reset sync status</label>
        <locationX>874</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>sOpportunity.Products_sync_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>All done</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunity.Split_fees_and_invoices_sync_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>All done</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunity.Sync_in_progress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_sOpp_sync_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_sOPE_Ad_Hoc_ENSI</name>
        <label>Set sOPE Ad Hoc ENSI</label>
        <locationX>2773</locationX>
        <locationY>1671</locationY>
        <assignmentItems>
            <assignToReference>sOpportunityProductExtension.Total_doll_comm_ensi_ad_hoc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fTotalDollCommEnsiAdHoc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_sOPE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_sOpp_Rollup_sync</name>
        <label>Set sOpp Roll-up sync</label>
        <locationX>361</locationX>
        <locationY>1709</locationY>
        <assignmentItems>
            <assignToReference>sOppUpdate.Opportunity_Products_roll_up_sync__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOppUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_sOpp_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_sOpp_sync_again</name>
        <label>Set sOpp sync again</label>
        <locationX>711</locationX>
        <locationY>55</locationY>
        <assignmentItems>
            <assignToReference>sOppUpdate.Opportunity_Products_sync__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOppUpdate.Opportunity_Products_requires_resync__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOppUpdate.Products_sync_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>All done</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOppUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOppUpdate.Opportunity_Role_Records_syncing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_sOpp_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sOpp_aggregate_Material</name>
        <label>sOpp aggregate Material</label>
        <locationX>2300</locationX>
        <locationY>1380</locationY>
        <assignmentItems>
            <assignToReference>sOpportunityProductExtension.Total_doll_comm_mark_perc__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOpportunityRoleRecord.doll_comm_mark_perc__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProductExtension.Total_doll_comm_ENSI_perc__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOpportunityRoleRecord.doll_comm_ENSI_perc__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_scORR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sOpp_aggregate_Service</name>
        <label>sOpp aggregate Service</label>
        <locationX>2068</locationX>
        <locationY>1333</locationY>
        <assignmentItems>
            <assignToReference>sOpportunityProductExtension.Total_doll_comm_mark_perc__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOpportunityRoleRecord.doll_comm_mark_perc__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProductExtension.Total_doll_comm_ENSI_perc__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOpportunityRoleRecord.doll_comm_ENSI_perc__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOpportunityProductExtension.Total_doll_comm_fac_perc__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOpportunityRoleRecord.doll_comm_fac_perc__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_scORR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sOpp_FF_aggregate_Service</name>
        <label>sOpp FF aggregate Service</label>
        <locationX>2376</locationX>
        <locationY>1244</locationY>
        <assignmentItems>
            <assignToReference>sOpportunityProductExtension.Total_doll_comm_fac_perc__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sOpportunityRoleRecord.doll_comm_fac_perc__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_scORR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>sOppUpdate_set_for_aggregate</name>
        <label>sOppUpdate set for aggregate</label>
        <locationX>473</locationX>
        <locationY>563</locationY>
        <assignmentItems>
            <assignToReference>sOppUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOpportunityProductsSyncCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOppUpdate.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunity.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_vTest2ndLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TEST_Set_2nd_Loop</name>
        <label>TEST Set 2nd Loop</label>
        <locationX>284</locationX>
        <locationY>700</locationY>
        <assignmentItems>
            <assignToReference>sOpportunity.Opportunity_Products_roll_up_sync__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_scOPE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Touch_sORR_0</name>
        <label>Touch sORR</label>
        <locationX>3025</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>sOrrTouch.Touch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sOrrTouch.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sOpportunityRoleRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_sORR_update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_sOpp_Requires_Resync</name>
        <label>Check sOpp Requires Resync</label>
        <locationX>476</locationX>
        <locationY>53</locationY>
        <defaultConnector>
            <targetReference>Find_scOPE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, don&apos;t resync</defaultConnectorLabel>
        <rules>
            <name>Yes_resync</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Opportunity_Products_requires_resync__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_sOpp_sync_again</targetReference>
            </connector>
            <label>Yes, resync</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_vTest2ndLoop</name>
        <label>If vTest2ndLoop</label>
        <locationX>463</locationX>
        <locationY>696</locationY>
        <defaultConnector>
            <targetReference>Loop_scOPE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>If_vTest2ndLoop_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTest2ndLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TEST_Set_2nd_Loop</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfAdHoc</name>
        <label>IfAdHoc</label>
        <locationX>2181</locationX>
        <locationY>1561</locationY>
        <defaultConnector>
            <targetReference>sOpp_aggregate_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Ad Hoc</defaultConnectorLabel>
        <rules>
            <name>Yes_Ad_Hoc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunityProductExtension.OP_is_Ad_Hoc__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_scORR</targetReference>
            </connector>
            <label>Yes, Ad Hoc</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsOppConsulting</name>
        <label>IsOppConsulting</label>
        <locationX>443</locationX>
        <locationY>1306</locationY>
        <defaultConnector>
            <targetReference>Reset_sOpp_syncing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_consulting_loop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Opportunity_Types__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consulting / retainer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOpportunity.Opportunity_Products_roll_up_sync__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scORR_to_update</targetReference>
            </connector>
            <label>Yes, consulting, do loop</label>
        </rules>
        <rules>
            <name>Yes_but_loop_complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Opportunity_Types__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consulting / retainer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOpportunity.Opportunity_Products_roll_up_sync__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_sOpp_syncing</targetReference>
            </connector>
            <label>Yes, but loop complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsOppConsulting_1</name>
        <label>IsOppConsulting</label>
        <locationX>2217</locationX>
        <locationY>967</locationY>
        <defaultConnector>
            <targetReference>Loop_scORR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not consulting</defaultConnectorLabel>
        <rules>
            <name>Yes_consulting_loop_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Opportunity_Types__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consulting / retainer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOpportunity.Opportunity_Products_roll_up_sync__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_scORR_0_1</targetReference>
            </connector>
            <label>Yes, consulting, loop 1</label>
        </rules>
        <rules>
            <name>Yes_but_loop_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Opportunity_Types__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consulting / retainer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOpportunity.Opportunity_Products_roll_up_sync__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_scORR</targetReference>
            </connector>
            <label>Yes, but loop 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsOppConsulting_1_0</name>
        <label>IsOppConsulting</label>
        <locationX>918</locationX>
        <locationY>975</locationY>
        <defaultConnector>
            <targetReference>Reset_sOPE_totals_count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not consulting</defaultConnectorLabel>
        <rules>
            <name>Yes_consulting_loop_1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Opportunity_Types__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consulting / retainer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOpportunity.Opportunity_Products_roll_up_sync__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_sOPE_totals_loop_1</targetReference>
            </connector>
            <label>Yes, consulting, loop 1</label>
        </rules>
        <rules>
            <name>Yes_but_loop_2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunity.Opportunity_Types__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consulting / retainer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOpportunity.Opportunity_Products_roll_up_sync__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_sOPE_totals_count</targetReference>
            </connector>
            <label>Yes, but loop 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>scOPE_NULL_0</name>
        <label>scOPE NULL</label>
        <locationX>473</locationX>
        <locationY>373</locationY>
        <defaultConnector>
            <targetReference>Reset_sync_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>scOPE NULL</defaultConnectorLabel>
        <rules>
            <name>scOPE_NOT_NULL_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scOpportunityProductExtensions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sOppUpdate_set_for_aggregate</targetReference>
            </connector>
            <label>scOPE NOT NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>scORR_NULL</name>
        <label>scORR NULL</label>
        <locationX>1520</locationX>
        <locationY>968</locationY>
        <defaultConnector>
            <targetReference>Collect_sOPE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>scORR NULL</defaultConnectorLabel>
        <rules>
            <name>scORR_NOT_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scOpportunityRoleRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsOppConsulting_1</targetReference>
            </connector>
            <label>scORR NOT NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>scORR_to_update</name>
        <label>scORR to update</label>
        <locationX>117</locationX>
        <locationY>1312</locationY>
        <defaultConnector>
            <targetReference>PauseBeforeLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No sORR to update</defaultConnectorLabel>
        <rules>
            <name>Yes_sORR_to_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scOpportunityRoleRecordsUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_sORR</targetReference>
            </connector>
            <label>Yes, sORR to update</label>
        </rules>
    </decisions>
    <decisions>
        <name>sOPE_type</name>
        <label>sOPE type</label>
        <locationX>2460</locationX>
        <locationY>1470</locationY>
        <defaultConnector>
            <targetReference>sOpp_FF_aggregate_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>sOPE_type_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunityRoleRecord.OP_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IfAdHoc</targetReference>
            </connector>
            <label>sOPE type Service</label>
        </rules>
        <rules>
            <name>sOPE_type_Material</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunityRoleRecord.OP_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Material</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sOpp_aggregate_Material</targetReference>
            </connector>
            <label>sOPE type Material</label>
        </rules>
    </decisions>
    <decisions>
        <name>sORR_Role_2</name>
        <label>sORR Role</label>
        <locationX>3113</locationX>
        <locationY>975</locationY>
        <defaultConnector>
            <targetReference>Loop_scORR_0_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fac</defaultConnectorLabel>
        <rules>
            <name>Role_ENSI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunityRoleRecord.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ENSI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CatchEnsiPerc</targetReference>
            </connector>
            <label>Role ENSI</label>
        </rules>
        <rules>
            <name>Role_Sell_or_Spot</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sOpportunityRoleRecord.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sell</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sOpportunityRoleRecord.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Touch_sORR_0</targetReference>
            </connector>
            <label>Role Sell or Spot</label>
        </rules>
    </decisions>
    <formulas>
        <description>doll_rev_rec_ad_hoc_check</description>
        <name>fDollRecRecAdHocCheck</name>
        <dataType>Currency</dataType>
        <expression>{!sOpportunityProductExtension.Total_fac_hours_ad_hoc__c}/{!sOpportunity.Hours_in_a_day__c}*{!sOpportunityProductExtension.OP_Unit_Price__c}</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <description>Total_doll_comm_ensi_ad_hoc__c</description>
        <name>fTotalDollCommEnsiAdHoc</name>
        <dataType>Currency</dataType>
        <expression>{!fDollRecRecAdHocCheck}*{!vDollCommEnsiPerc}/100</expression>
        <scale>5</scale>
    </formulas>
    <interviewLabel>Opportunity Product Extension Roll-up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Product Extension Roll-up</label>
    <loops>
        <name>Loop_scOPE</name>
        <label>scOPE</label>
        <locationX>453</locationX>
        <locationY>973</locationY>
        <assignNextValueToReference>sOpportunityProductExtension</assignNextValueToReference>
        <collectionReference>scOpportunityProductExtensions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsOppConsulting_1_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_scOPE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_scORR</name>
        <label>scORR</label>
        <locationX>2223</locationX>
        <locationY>1127</locationY>
        <assignNextValueToReference>sOpportunityRoleRecord</assignNextValueToReference>
        <collectionReference>scOpportunityRoleRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Aggregate_sOPE_totals</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Collect_sOPE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_scORR_0_1</name>
        <label>scORR</label>
        <locationX>2759</locationX>
        <locationY>977</locationY>
        <assignNextValueToReference>sOpportunityRoleRecord</assignNextValueToReference>
        <collectionReference>scOpportunityRoleRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Aggregate_sOPE_Ad_Hoc_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_sOPE_Ad_Hoc_ENSI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_scOPE</name>
        <label>scOPE</label>
        <locationX>474</locationX>
        <locationY>284</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scOPE_NULL_0</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity_Product_Extension__c</object>
        <outputReference>scOpportunityProductExtensions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_doll_comm_fac_perc__c</queriedFields>
        <queriedFields>Total_doll_comm_fac_ad_hoc__c</queriedFields>
        <queriedFields>Total_doll_comm_mark_perc__c</queriedFields>
        <queriedFields>Total_doll_comm_ENSI_perc__c</queriedFields>
        <queriedFields>Total_doll_rev_rec__c</queriedFields>
        <queriedFields>Total_perc_comm__c</queriedFields>
        <queriedFields>Total_fac_days__c</queriedFields>
        <queriedFields>Total_fac_days_ad_hoc__c</queriedFields>
        <queriedFields>OP_is_Ad_Hoc__c</queriedFields>
        <queriedFields>Total_doll_comm_mark_ad_hoc__c</queriedFields>
        <queriedFields>doll_rev_rec_ad_hoc_check__c</queriedFields>
        <queriedFields>OP_Unit_Price__c</queriedFields>
        <queriedFields>Shared_ID__c</queriedFields>
        <queriedFields>OPE_code__c</queriedFields>
        <queriedFields>Remaining_fac_days_ad_hoc__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_scORR</name>
        <label>scORR</label>
        <locationX>1356</locationX>
        <locationY>965</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scORR_NULL</targetReference>
        </connector>
        <filters>
            <field>OPE__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOpportunityProductExtension.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity_Role_Record__c</object>
        <outputReference>scOpportunityRoleRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>doll_comm_fac_perc__c</queriedFields>
        <queriedFields>doll_comm_mark_perc__c</queriedFields>
        <queriedFields>doll_comm_ENSI_perc__c</queriedFields>
        <queriedFields>doll_rev_rec__c</queriedFields>
        <queriedFields>perc_comm__c</queriedFields>
        <queriedFields>fac_days__c</queriedFields>
        <queriedFields>fac_hours_ad_hoc__c</queriedFields>
        <queriedFields>OPE__c</queriedFields>
        <queriedFields>OP_Type__c</queriedFields>
        <queriedFields>OP_Name__c</queriedFields>
        <queriedFields>doll_comm_ENSI_ad_hoc__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Role__c</queriedFields>
        <queriedFields>doll_comm_mark_ad_hoc__c</queriedFields>
        <queriedFields>total_comm_doll_fac_OTE__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_sOpp</name>
        <label>sOpp</label>
        <locationX>180</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_sOpp_Requires_Resync</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>sOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity_Products_sync_count__c</queriedFields>
        <queriedFields>Opportunity_Types__c</queriedFields>
        <queriedFields>Opportunity_Products_roll_up_sync__c</queriedFields>
        <queriedFields>Opportunity_Products_requires_resync__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Hours_in_a_day__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_scOPE</name>
        <label>Update scOPE</label>
        <locationX>447</locationX>
        <locationY>1202</locationY>
        <connector>
            <targetReference>IsOppConsulting</targetReference>
        </connector>
        <inputReference>scOpportunityProductExtensionsUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_sOpp</name>
        <label>Update sOpp</label>
        <locationX>789</locationX>
        <locationY>1397</locationY>
        <connector>
            <targetReference>Pause_before_expenses_aggregatation</targetReference>
        </connector>
        <inputReference>sOppUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_sOpp_0</name>
        <label>Update sOpp</label>
        <locationX>363</locationX>
        <locationY>1802</locationY>
        <inputReference>sOppUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_sOpp_1</name>
        <label>Update sOpp</label>
        <locationX>868</locationX>
        <locationY>57</locationY>
        <inputReference>sOppUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_sOpp_sync_status</name>
        <label>Update sOpp sync status</label>
        <locationX>1041</locationX>
        <locationY>375</locationY>
        <inputReference>sOpportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_sORR</name>
        <label>Update sORR</label>
        <locationX>113</locationX>
        <locationY>1494</locationY>
        <connector>
            <targetReference>PauseBeforeLoop</targetReference>
        </connector>
        <inputReference>scOpportunityRoleRecordsUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Find_sOpp</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Aggregate_fee_splits</name>
        <label>Aggregate fee splits</label>
        <locationX>787</locationX>
        <locationY>1591</locationY>
        <flowName>Expenses_aggregate_fee_splits</flowName>
        <inputAssignments>
            <name>vOpportunityId</name>
            <value>
                <elementReference>vOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vOpportunityId</assignToReference>
            <name>vOpportunityId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>scOpportunityProductExtensions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity_Product_Extension__c</objectType>
    </variables>
    <variables>
        <name>scOpportunityProductExtensionsEmpty</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Product_Extension__c</objectType>
    </variables>
    <variables>
        <name>scOpportunityProductExtensionsUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity_Product_Extension__c</objectType>
    </variables>
    <variables>
        <name>scOpportunityRoleRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity_Role_Record__c</objectType>
    </variables>
    <variables>
        <name>scOpportunityRoleRecordsUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Role_Record__c</objectType>
    </variables>
    <variables>
        <name>sOppEmpty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>sOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>sOpportunityProductExtension</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity_Product_Extension__c</objectType>
    </variables>
    <variables>
        <name>sOpportunityRoleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity_Role_Record__c</objectType>
    </variables>
    <variables>
        <name>sOppUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>sOrrTouch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Role_Record__c</objectType>
    </variables>
    <variables>
        <name>vAdHocLoopEnsi</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vAdHocLoopFac</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vAdHocLoopRevRec</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vDollCommEnsiPerc</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOpportunityProductsSyncCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vTest2ndLoop</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vWaitDeliveryStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Pause_before_expenses_aggregatation</name>
        <label>Pause before expenses aggregatation</label>
        <locationX>788</locationX>
        <locationY>1494</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>WaitOneMinute_expenses</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Aggregate_fee_splits</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>vOpportunityId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>Wait_base_time_1_minute__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>WaitOneMinute</label>
            <outputParameters>
                <assignToReference>vWaitDeliveryStatus</assignToReference>
                <name>Status</name>
            </outputParameters>
        </waitEvents>
    </waits>
    <waits>
        <name>PauseBeforeLoop</name>
        <label>PauseBeforeLoop</label>
        <locationX>355</locationX>
        <locationY>1494</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>WaitOneMinute</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Reset_sOppUpdate</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>vOpportunityId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>Wait_base_time_1_minute__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>WaitOneMinute</label>
            <outputParameters>
                <assignToReference>vWaitDeliveryStatus</assignToReference>
                <name>Status</name>
            </outputParameters>
        </waitEvents>
    </waits>
</Flow>
